<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.sam.bargrocery" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Pages.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pages.ShoppingList"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName=".Pages.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pages.MainActivity" />
            android:windowSoftInputMode="adjustPan";
        </activity>
        <activity
            android:name=".Pages.Results"
            android:label="@string/title_activity_results"
            android:parentActivityName=".Pages.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Pages.ReportPrice"
            android:label="@string/title_activity_report"
            android:parentActivityName=".Pages.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pages.MainActivity" />
        </activity>
    </application>

</manifest>
